.navbar {
    margin-bottom: 15px;
}

.red-text {
    color: red;
}

.hor-line {
    border-bottom: 2px solid #c5c5c5;
    margin-top: 5px;
    margin-bottom: 15px;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.parent {
    display: table;
    width: 100%;
    background: #e0e0e0;
    height: 60px;
}

.child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.top-margin-login {
    margin-top: 300px;
}

.top-margin-addform {
    margin-top: 150px;
}

.textarea-noresize {
    resize: none;
}

@media screen and (max-width: 767px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }
}

@media screen and (min-width: 1200px) {
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }
}